
.attribution { font-size: 11px; text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%);
               }
/* .body{
    widows: 1440px;
    font-family: 'Karla', sans-serif;
} */
.logo{
    position: relative;margin: 25px 0px 10px 100px;
}
.view_plan_btn{
    border:solid 1.5 #ffffff;
    background-color: transparent;
    font-size: 1rem;
    padding: 10px 10px;
    color: #ffffff;
    border-radius:3px;
}
.view_plan_btn:hover{
    color: black;
    background-color:#ffffff;
}
.find_out_more{
    background-color:#000839;
    font-family: 'DM Serif Display', serif;
    width: 70rem;
    height: 15.5rem;
    margin-top: 16%;
    margin-left: 12%;

}
.work{
    background-color: transparent;border-radius: 5px;color: #ffffff;padding:4% 4%;z-index: 2;margin-left: 40%;position: absolute;margin-top: 10%;
}
.work:hover{
    background-color: #ffffff;
    color: black;
}
    

    
